version: "3.9"

services:
  db:
    image: mariadb:11
    container_name: epitime-db-1
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: epitime
      MYSQL_USER: epitime_user
      MYSQL_PASSWORD: epitime_pass
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-prootpass"]
      interval: 10s
      timeout: 5s
      retries: 10

  backend:
    build: ./backend
    container_name: epitime-backend-1
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DJANGO_SETTINGS_MODULE=api.settings
      - DB_NAME=epitime
      - DB_USER=epitime_user
      - DB_PASSWORD=epitime_pass
      - DB_HOST=db
      - DB_PORT=3306

  frontend:
    build: ./frontend
    container_name: epitime-frontend-1
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    stdin_open: true
    tty: true

volumes:
  mariadb_data:
